*{
    margin: 5px;
    padding: 0;
}

.container{
    background-image:linear-gradient(
        to top,
        rgba(245, 246, 252, 0.62),
        rgba(95, 15, 75, 0.83)
    ), url("download.jfif");
    background-size: cover;
    background-position: top;
    height: 850px;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
}

#main-header{
    color: #fff;
    padding-top: 180px;
    font-size: 4rem;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

#sub-header{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 60px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-weight: 100;
}

.btn{
    padding: 10px 50px 10px 50px;
    margin-left: 45%;
    background-color: #fff;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    color: grey;
    font-family: 'Abel', sans-serif;

    text-align: center
}

.btn:active{
    padding: 10px 50px 10px 50px;
    margin-left: 45%;
    background-color: #fff;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
    color: grey;
    font-family: 'Abel', sans-serif;
}

.btn:hover{
    background-color: #dfe2e6;
    font-family: 'Abel', sans-serif;
}

footer.footer{
    padding-top:4rem;
    padding-bottom:4rem;
}

